.home-section{
    background: url(../../image/hero.jpg),radial-gradient(rgba(51, 51, 53, 0.733),#332a70);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 75vh;
    background-blend-mode: multiply;
    position: relative;
}
/* hero-section title */
.title{
    font-weight: bold;
    padding: 4em 0 0;
    color: whitesmoke;
}
/* hero-section sub-title */
.sub-title{
    color: whitesmoke;
    padding: 1.5em 0 0;
    font-size: 18px; 
    margin-bottom: 3em;
}
/* hero-section hilighted services */
/* cant use auto-fit because of requarments */
.top-services{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
    grid-template-columns: repeat(2,1fr);
}

.secondery-title{
    padding: 1.5em 0;
    text-align: center;
}