    /* the main body of the page */
    .error-page-main{
    position: absolute;
    top: 18%;
    left: 15%;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(47, 155, 226);
    box-shadow: 0px 5px 10px #0000001f;
  }
  /* main contents of the page */
  .error-page-main .error-page-content{
    max-width: 650px;
    text-align: center;
  }
  .error-page-content h2.header{
    font-size: 18vw;
    line-height: 1em;
  }
  
  .error-page-content h4{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    font-size: 2em;
  }

  .error-page-content p{
    font-size: 1.2em;
    color: #0d0d0d;
  }
  .error-page-content .buttons{
    margin: 25px 0;
    display: inline-flex;
  }
  /* styling the buttons */
  .error-page-content .buttons a{
    display: inline-block;
    background-color: whitesmoke;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid #69a6ce;
    color: #333333;
    padding: 0.8em 1.25em;
    border-radius: 4.5em;
    transition: all 0.3s ease;
  }
  .error-page-content .buttons a:hover{
    background: #69a6ce;
    color: #fff;
  }